body,html { 
	width:100%;
	height: 100%;
	background: url(https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }

 h2,h1{
	text-align: center;
  }

.details{
	text-align: center;
	margin-top: 5em;	  
  }

img{
	height:17em;
	width:1.25em;
  }

btn{
	padding: 1rem 2rem;
}

.card{
	background-color:#9fbdc2;
	margin-right: 3em;
	
}
